language: python
sudo: false

cache:
 directories:
  - $HOME/virtualenv

python:
  - 2.7

install:
 - pip install -r requirements.txt
 - pip install coveralls nose-cov
 - python setup.py install --force

script:
 - nosetests -v --with-xunit --with-coverage --cover-inclusive --cover-branches --cover-package hybseldesign

after_success:
 - coveralls
